
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.iphone-13-mini-1-fbi {
  box-sizing: border-box;
  padding-top: 1.4333rem;
  width: 100%;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .status-bar-black-9mn {
    margin: 0rem 2.034rem 1.067rem 2.219rem;
    width: calc(100% - 4.2533rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .time-G5i {
      font-size: 1.5rem;
      line-height: 1.2575;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 23.8805rem;
      text-align: center;
      font-weight: 600;
      letter-spacing: -0.03rem;
      color: #0d0d0d;
      font-family: SF Pro Text, 'Source Sans Pro';
    }
    .cellular-connection-xDS {
      flex-shrink: 0;
      margin: 0rem 0.5rem 0.167rem 0rem;
      width: 1.7rem;
      height: 1.0667rem;
      object-fit: contain;
      vertical-align: top;
    }
    .wifi-sLQ {
      height: 1.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.5rem 0.201rem 0rem;
      width: 1.5333rem;
    }
    .battery-bXJ {
      margin-bottom: 0.1667rem;
      width: 2.4328rem;
      height: 1.1333rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .back-bar-8XE {
    width: 100%;
    height: 6.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.8rem 2.375rem 1.68rem 2rem;

    .group-40071-rTE {
      margin-right: 15.4284rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .group-40070-zpL {
        margin: 0rem 0.995rem 0.047rem 0rem;
        width: 3.3516rem;
        height: 2.8724rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .hero-travel-K5v {
        color: #121218;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 2.1543rem;
        font-weight: 800;
        line-height: 1.255;

        .hero-travel-K5v-sub-0 {
        }
        .hero-travel-K5v-sub-1 {
          font-size: 2.1543rem;
          font-weight: 800;
          line-height: 1.255;
          color: #ff5400;
          font-family: Mulish, 'Source Sans Pro';
        }
      }
    }
    .frame-28k {
      margin-bottom: 0.1196rem;
      width: 1.65rem;
      height: 1.05rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-nyhn-xYC {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 2rem 2.322rem 2rem;

    .auto-group-ynuj-Dj2 {
      padding: 3.2rem 2.05rem 3.2rem 2.15rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0rem 0rem 2.4rem 0rem;
      width: calc(100% - 0rem);
      border-radius: 1.6rem;
      background: linear-gradient(180deg, rgba(19, 19, 24, 0.8000000119) -0%, rgba(19, 19, 24, 0.8000000119) 100%);
      box-sizing: border-box;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:83c1b8609a5a026792a097916a40b2c6f9f0505c');
      flex-shrink: 0;

      .group-40073-i9z {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        width: 100%;

        .explore-your-travel-GBW {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.8rem 0.1rem;
          font-size: 2.2rem;
          font-weight: 800;
          line-height: 1.255;
          color: #ffffff;
          font-family: Mulish, 'Source Sans Pro';
        }
        .dolor-sit-amet-consectetur-suspendisse-vitae-ultricies-dolor-adipiscing-in-et-odio-enim-ac-quis-sapien-urna-eu-phasellus-aT6 {
          line-height: 1.5;
          color: #ffffff;
          font-family: Mulish, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 29.3rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
      .frame-1-47N {
        row-gap: 1.6rem;
        background-color: rgba(255, 255, 255, 0.3000000119);
        box-sizing: border-box;
        padding: 1.6rem;
        width: calc(100% - 0.6rem);
        flex-direction: column;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin: 0rem 0.35rem 0rem 0.25rem;
        align-items: center;
        display: flex;

        .group-4-mGg {
          padding: 1.6rem 1.5rem 1.5rem 1.5rem;
          text-align: center;
          color: rgba(19, 19, 24, 0.5);
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.255;
          border-radius: 0.8rem;
          width: 100%;
        }
        .group-5-2iQ {
          box-sizing: border-box;
          padding: 1.6rem 1.95rem 1.5rem 1.5rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .when-kuJ {
            font-weight: 400;
            line-height: 1.255;
            color: rgba(19, 19, 24, 0.5);
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.95rem;
            font-size: 1.6rem;
          }
          .frame-syv {
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 1.5rem;
            height: 0.75rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-5-oMn {
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.95rem 1.5rem 1.5rem;

          .select-type-jWL {
            color: rgba(19, 19, 24, 0.5);
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 12.05rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.255;
          }
          .frame-r5A {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 1.5rem;
            height: 0.75rem;
            object-fit: contain;
          }
        }
        .group-8-N3W {
          height: 5.2rem;
          background-color: #ff5400;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 7.5rem;
          width: 100%;

          .group-7-Jhr {
            height: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0.2rem 0rem 0.1rem 0.3rem;
            width: 100%;

            .frame-DK2 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.1rem 0.1rem 0rem;
              width: 1.8001rem;
              height: 1.8001rem;
            }
            .find-now-jYG {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.255;
              color: #ffffff;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
          }
        }
      }
    }
    .our-popular-tours-v6x {
      color: #131318;
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
      white-space: nowrap;
      margin: 0rem 15.7rem 1.5rem 0rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.255;
    }
    .dolor-sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque-cVa {
      line-height: 1.7142857143;
      color: rgba(19, 19, 24, 0.6999999881);
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 2.4rem 1.6rem 0rem;
      max-width: 31.1rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .tempus-euismod-lacus-mauris-dignissim-quis-in-ultrices-magna-nullam-odio-neque-diam-sociis-erat-at--G4L {
      font-weight: 400;
      line-height: 1.7142857143;
      color: rgba(19, 19, 24, 0.6999999881);
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.1rem 1.2rem 0rem;
      max-width: 33.4rem;
      font-size: 1.4rem;
    }
    .adipiscing-ornare-pellentesque-mauris-volutpat-tortor-vitae-platea-porta-lacus-lectus-suspendisse-nullam-vua {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7142857143;
      color: rgba(19, 19, 24, 0.6999999881);
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.7rem 1.2rem 0rem;
      max-width: 32.8rem;
    }
    .accumsan-eget-et-turpis-praesent-lorem-egestas-enim-elit-bibendum-risus-at-in-QZr {
      font-weight: 400;
      line-height: 1.7142857143;
      color: rgba(19, 19, 24, 0.6999999881);
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 2.3rem 1.6rem 0rem;
      max-width: 31.2rem;
      font-size: 1.4rem;
    }
    .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-amet-et-libero-commodo-sagittis-dignissim-quis-habitant-adipiscing-risus-natoque-aliquet-id-bibendum-nunc-senectus-semper-tincidunt-gXN {
      max-width: 31.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7142857143;
      color: #5a5a5d;
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 2.1rem 2.4rem 0rem;
    }
    .group-8-vRi {
      text-align: center;
      border-radius: 0.8rem;
      line-height: 1.255;
      white-space: nowrap;
      justify-content: center;
      width: 17.4rem;
      height: 5.2rem;
      font-size: 2rem;
      align-items: center;
      background-color: #ff5400;
      flex-shrink: 0;
      font-family: Mulish, 'Source Sans Pro';
      display: flex;
      margin: 0rem 16.1rem 2.4rem 0rem;
      font-weight: 800;
      color: #ffffff;
    }
    .rectangle-4-B6k {
      vertical-align: top;
      border-radius: 1.6rem;
      flex-shrink: 0;
      margin: 0rem 0rem 2.4rem 0rem;
      width: 33.5rem;
      height: 34.2rem;
      object-fit: cover;
    }
    .group-40074-t1A {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.85rem 1.6rem 2.85rem;
      width: calc(100% - 5.7rem);
      align-items: center;
      display: flex;

      .choose-your-destination-PyW {
        line-height: 1.255;
        color: #131318;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
      }
      .sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque-XK2 {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7142857143;
        color: rgba(19, 19, 24, 0.6999999881);
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 27.8rem;
      }
    }
    .group-40075-zyJ {
      text-align: center;
      color: #ffffff;
      background-size: 100% 100%;
      background-position: center;
      height: 17.6rem;
      line-height: 1.255;
      background-color: rgba(19, 19, 24, 0.200000003);
      width: calc(100% - 0rem);
      font-size: 2rem;
      font-weight: 700;
      display: flex;
      background-image: url('REPLACE_IMAGE:a3ea54784dbde808c002b31c8f08ad0c606f14ed');
      border-radius: 1.6rem;
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 0rem;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
    }
    .auto-group-fmpx-FPS {
      flex-shrink: 0;
      margin: 0rem 0rem 1.561rem 0rem;
      width: calc(100% - 0rem);
      font-size: 2rem;
      font-family: Mulish, 'Source Sans Pro';
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-weight: 700;
      display: flex;
      align-items: center;
      background-image: url('REPLACE_IMAGE:39:92');
      line-height: 1.255;
      white-space: nowrap;
      height: 17.5393rem;
      text-align: center;
      color: #ffffff;
      background-position: center;
    }
    .auto-group-a1zc-7gY {
      width: calc(100% - 0rem);
      height: 17.6rem;
      align-items: center;
      justify-content: center;
      background-color: rgba(19, 19, 24, 0.200000003);
      background-size: 100% 100%;
      border-radius: 1.6rem;
      line-height: 1.255;
      color: #ffffff;
      background-position: center;
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 0rem;
      text-align: center;
      white-space: nowrap;
      display: flex;
      background-repeat: no-repeat;
      font-size: 2rem;
      font-weight: 800;
      font-family: Mulish, 'Source Sans Pro';
      background-image: url('REPLACE_IMAGE:d831ee81f73701a2f6596dfa94b7389d62724739');
    }
    .auto-group-ggke-mFJ {
      flex-shrink: 0;
      font-weight: 700;
      align-items: center;
      background-image: url('REPLACE_IMAGE:876ec693529395452827fa64708cb4a2407907a6');
      line-height: 1.255;
      white-space: nowrap;
      display: flex;
      background-size: 100% 100%;
      border-radius: 1.6rem;
      width: calc(100% - 0rem);
      text-align: center;
      font-size: 2rem;
      height: 17.6rem;
      justify-content: center;
      background-color: rgba(19, 19, 24, 0.200000003);
      background-repeat: no-repeat;
      background-position: center;
      margin: 0rem 0rem 1.6rem 0rem;
      color: #ffffff;
      font-family: Mulish, 'Source Sans Pro';
    }
    .auto-group-qwwu-c12 {
      display: flex;
      justify-content: center;
      background-color: rgba(19, 19, 24, 0.200000003);
      background-repeat: no-repeat;
      border-radius: 1.6rem;
      flex-shrink: 0;
      line-height: 1.255;
      white-space: nowrap;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:134d1ab28b80dcfa7c5edcc8467c9b70b44cc21a');
      margin: 0rem 0rem 1.6rem 0rem;
      height: 17.6rem;
      text-align: center;
      font-size: 2rem;
      color: #ffffff;
      font-family: Mulish, 'Source Sans Pro';
      width: calc(100% - 0rem);
      font-weight: 700;
      align-items: center;
    }
    .auto-group-w228-4di {
      background-size: 100% 100%;
      font-family: Mulish, 'Source Sans Pro';
      color: #ffffff;
      justify-content: center;
      background-position: center;
      background-image: url('REPLACE_IMAGE:a044a0f5730bfb499418128fdf498522ee0f9114');
      border-radius: 1.6rem;
      flex-shrink: 0;
      font-weight: 600;
      white-space: nowrap;
      align-items: center;
      background-color: rgba(19, 19, 24, 0.200000003);
      width: calc(100% - 0rem);
      height: 17.6rem;
      text-align: center;
      font-size: 2rem;
      line-height: 1.255;
      display: flex;
      background-repeat: no-repeat;
      margin: 0rem 0rem 1.6rem 0rem;
    }
    .auto-group-o6ng-K3r {
      line-height: 1.255;
      color: #ffffff;
      font-family: Mulish, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      background-size: 100% 100%;
      font-weight: 700;
      width: calc(100% - 0rem);
      height: 17.6rem;
      background-color: rgba(19, 19, 24, 0.200000003);
      background-position: center;
      border-radius: 1.6rem;
      margin: 0rem 0rem 2.4rem 0rem;
      font-size: 2rem;
      white-space: nowrap;
      display: flex;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:10b9cb366b7d13c4a3fc2999caa392cf1051aa05');
      flex-shrink: 0;
      text-align: center;
    }
    .group-40076-A4U {
      margin: 0rem 2.85rem 1.6rem 2.85rem;
      width: calc(100% - 5.7rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .why-choose-us-szU {
        margin: 0rem 0.1rem 1.5rem 0rem;
        font-family: Mulish, 'Source Sans Pro';
        line-height: 1.255;
        color: #131318;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
      }
      .sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque-hyW {
        max-width: 27.8rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7142857143;
        color: rgba(19, 19, 24, 0.6999999881);
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .group-40078-Btg {
      flex-direction: column;
      background-color: rgba(251, 181, 99, 0.0500000007);
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 0rem;
      padding: 3.2rem 3.5rem 3.2rem 3.2rem;
      width: calc(100% - 0rem);
      display: flex;
      border: solid 0.1rem rgba(251, 181, 99, 0.200000003);
      border-radius: 1.6rem;
      box-sizing: border-box;

      .group-40077-5UG {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 4.8rem;
        height: 4.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .handpicked-hotels-Con {
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.255;
        white-space: nowrap;
        margin-bottom: 1.5rem;
        width: 100%;
        text-align: center;
        color: #131318;
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-risus-natoque-aliquet-Vnt {
        max-width: 26.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7142857143;
        color: #5a5a5d;
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-2zwa-htx {
      border: solid 0.1rem rgba(41, 206, 246, 0.200000003);
      border-radius: 1.6rem;
      box-sizing: border-box;
      width: calc(100% - 0rem);
      display: flex;
      flex-direction: column;
      margin: 0rem 0rem 1.6rem 0rem;
      padding: 3.2rem 3.5rem 3.2rem 3.2rem;
      background-color: rgba(41, 206, 246, 0.0500000007);
      flex-shrink: 0;

      .group-27-zt4 {
        margin-bottom: 1.6rem;
        width: 4.8rem;
        height: 4.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .world-class-service-Xsz {
        font-weight: 800;
        line-height: 1.255;
        color: #131318;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        font-size: 2rem;
      }
      .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-risus-natoque-aliquet-sBA {
        flex-shrink: 0;
        max-width: 26.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7142857143;
        color: #5a5a5d;
        font-family: Mulish, 'Source Sans Pro';
      }
    }
    .auto-group-p1hn-t6G {
      margin: 0rem 0rem 2.4rem 0rem;
      box-sizing: border-box;
      width: calc(100% - 0rem);
      background-color: rgba(233, 68, 68, 0.0500000007);
      border-radius: 1.6rem;
      flex-shrink: 0;
      padding: 3.2rem 3.5rem 3.2rem 3.2rem;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem rgba(233, 68, 68, 0.200000003);

      .group-26-BLG {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 4.8rem;
        height: 4.8rem;
      }
      .best-price-gaurantee-iqz {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.255;
        color: #131318;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-risus-natoque-aliquet-Fqv {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7142857143;
        color: #5a5a5d;
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 26.8rem;
      }
    }
    .group-40079-t8C {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.85rem 1.6rem 2.85rem;
      width: calc(100% - 5.7rem);
      align-items: center;

      .deal-discounts-oW4 {
        flex-shrink: 0;
        font-weight: 800;
        white-space: nowrap;
        font-size: 2rem;
        line-height: 1.255;
        color: #131318;
        font-family: Mulish, 'Source Sans Pro';
        margin: 0rem 0.1rem 1.5rem 0rem;
        text-align: center;
      }
      .sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque-iN8 {
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 27.8rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7142857143;
        color: rgba(19, 19, 24, 0.6999999881);
      }
    }
    .group-40085-bgp {
      margin: 0rem 0rem 1.6rem 0rem;
      box-sizing: border-box;
      width: calc(100% - 0rem);
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:f8d4b7ef24da5ad044babd61cd4aa6ae10787aae');
      border-radius: 1.6rem;
      flex-shrink: 0;
      padding: 18.7rem 1.6rem 1.6rem 1.6rem;
      height: 50rem;
      background-size: 100% 100%;
      background-position: center;

      .group-40084-W36 {
        backdrop-filter: blur(0.25rem);
        background-color: rgba(255, 255, 255, 0.8000000119);
        border-radius: 1.6rem;
        box-sizing: border-box;
        padding: 2.4rem 2.3rem 2.4rem 2.4rem;
        width: 100%;
        height: 100%;
        border: solid 0.2rem #ffffff;

        .group-40083-SBe {
          height: 100%;
          display: flex;
          flex-direction: column;
          width: 100%;

          .group-40080-PMn {
            margin: 0rem 0rem 1.6rem 0.1rem;
            width: 21.8rem;
            flex-shrink: 0;

            .group-32-7oa {
              box-sizing: border-box;
              padding: 0.2rem 0rem 0.1rem 0.225rem;
              width: calc(100% - 7.5rem);
              display: flex;
              align-items: center;
              margin: 0rem 7.5rem 1.6rem 0rem;

              .frame-Drc {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.025rem 0.1rem 0rem;
                width: 1.95rem;
                height: 1.95rem;
                object-fit: contain;
              }
              .day-6-night-Z9n {
                font-weight: 400;
                line-height: 1.255;
                color: #5a5a5d;
                font-family: Mulish, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .auto-group-lmfz-swA {
              width: 100%;
              height: 2.4rem;
              display: flex;
              align-items: center;

              .group-33-EFv {
                padding: 0.2rem 0rem 0.1rem 0.15rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 2.3rem;
                box-sizing: border-box;

                .frame-A9a {
                  margin: 0rem 0.95rem 0.025rem 0rem;
                  width: 2.1rem;
                  height: 1.875rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .max-10-Ug4 {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.255;
                  color: #5a5a5d;
                  font-family: Mulish, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .group-34-pV2 {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.2rem 0rem 0.1rem 0.375rem;

                .frame-x5S {
                  height: 2.0248rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.175rem 0.025rem 0rem;
                  width: 1.65rem;
                }
                .malaysia-siC {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.255;
                  color: #5a5a5d;
                  font-family: Mulish, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .group-40081-D1N {
            margin: 0rem 0rem 1.2rem 0.1rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tour-to-satorini-YZS {
              margin-bottom: 0.7rem;
              font-size: 2rem;
              font-weight: 800;
              line-height: 1.255;
              color: #131318;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .amet-consectetur-vulputate-commodo-felis-molestie-risus--5ZN {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.7142857143;
              color: #5a5a5d;
              font-family: Mulish, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 25.5rem;
            }
          }
          .price-1300-1500-Ppx {
            flex-shrink: 0;
            margin: 0rem 0rem 1.5rem 0.1rem;
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.255;
            color: #ff5400;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-8-iMS {
            width: 13rem;
            height: 4rem;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .group-7-G84 {
              width: 100%;
              height: 100%;
              border-radius: 0.8rem;

              .group-31-pfN {
                width: 100%;
                height: 100%;
                border-radius: 0.8rem;

                .group-40082-PTa {
                  line-height: 1.255;
                  display: flex;
                  text-align: center;
                  font-weight: 700;
                  color: #ffffff;
                  font-family: Mulish, 'Source Sans Pro';
                  white-space: nowrap;
                  justify-content: center;
                  height: 100%;
                  width: 100%;
                  font-size: 1.8rem;
                  align-items: center;
                  background-color: #ff5400;
                  border-radius: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
    .group-40086-khS {
      height: 50rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:b74a8e8bbc14cd08d49d3b61ae55b3215db65c31');
      border-radius: 1.6rem;
      margin: 0rem 0rem 1.6rem 0rem;
      box-sizing: border-box;
      padding: 18.7rem 1.6rem 1.6rem 1.6rem;
      flex-shrink: 0;
      width: calc(100% - 0rem);
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .group-40084-f3i {
        border-radius: 1.6rem;
        box-sizing: border-box;
        padding: 2.4rem 2.3rem 2.4rem 2.4rem;
        width: 100%;
        height: 100%;
        border: solid 0.2rem #ffffff;
        backdrop-filter: blur(0.25rem);
        background-color: rgba(255, 255, 255, 0.8000000119);

        .group-40083-PkQ {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .group-40080-8xt {
            margin: 0rem 0rem 1.6rem 0.1rem;
            width: 21.8rem;
            flex-shrink: 0;

            .group-32-57S {
              margin: 0rem 7.5rem 1.6rem 0rem;
              box-sizing: border-box;
              padding: 0.2rem 0rem 0.1rem 0.225rem;
              width: calc(100% - 7.5rem);
              display: flex;
              align-items: center;

              .frame-Aua {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.025rem 0.1rem 0rem;
                width: 1.95rem;
                height: 1.95rem;
                object-fit: contain;
              }
              .day-6-night-u6U {
                color: #5a5a5d;
                font-family: Mulish, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.255;
              }
            }
            .auto-group-fcr8-EeY {
              display: flex;
              align-items: center;
              width: 100%;
              height: 2.4rem;

              .group-33-z7v {
                margin-right: 2.3rem;
                box-sizing: border-box;
                padding: 0.2rem 0rem 0.1rem 0.15rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .frame-iJp {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.95rem 0.025rem 0rem;
                  width: 2.1rem;
                  height: 1.875rem;
                  position: relative;
                  object-fit: contain;
                }
                .max-10-SEp {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.255;
                  color: #5a5a5d;
                  font-family: Mulish, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .group-34-yVe {
                padding: 0.2rem 0rem 0.1rem 0.375rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;

                .frame-KJc {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.175rem 0.025rem 0rem;
                  width: 1.65rem;
                  height: 2.0248rem;
                }
                .malaysia-eLt {
                  line-height: 1.255;
                  color: #5a5a5d;
                  font-family: Mulish, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
            }
          }
          .group-40081-Nng {
            margin: 0rem 0rem 1.2rem 0.1rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tour-to-satorini-vJQ {
              font-weight: 800;
              line-height: 1.255;
              color: #131318;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              font-size: 2rem;
            }
            .amet-consectetur-vulputate-commodo-felis-molestie-risus--rC4 {
              line-height: 1.7142857143;
              color: #5a5a5d;
              font-family: Mulish, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 25.5rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .price-1300-1500-NAQ {
            margin: 0rem 0rem 1.5rem 0.1rem;
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.255;
            color: #ff5400;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .group-8-edi {
            width: 13rem;
            height: 4rem;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .group-7-CQL {
              width: 100%;
              height: 100%;
              border-radius: 0.8rem;

              .group-31-ZEt {
                width: 100%;
                height: 100%;
                border-radius: 0.8rem;

                .group-40082-vLL {
                  width: 100%;
                  justify-content: center;
                  align-items: center;
                  background-color: #ff5400;
                  border-radius: 0.8rem;
                  line-height: 1.255;
                  font-family: Mulish, 'Source Sans Pro';
                  white-space: nowrap;
                  text-align: center;
                  font-size: 1.8rem;
                  display: flex;
                  height: 100%;
                  font-weight: 700;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
    .group-40087-gyi {
      width: calc(100% - 0rem);
      background-image: url('REPLACE_IMAGE:f8d4b7ef24da5ad044babd61cd4aa6ae10787aae');
      border-radius: 1.6rem;
      margin: 0rem 0rem 2.4rem 0rem;
      box-sizing: border-box;
      padding: 18.7rem 1.6rem 1.6rem 1.6rem;
      height: 50rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;

      .group-40084-CBN {
        width: 100%;
        height: 100%;
        border: solid 0.2rem #ffffff;
        backdrop-filter: blur(0.25rem);
        background-color: rgba(255, 255, 255, 0.8000000119);
        border-radius: 1.6rem;
        box-sizing: border-box;
        padding: 2.4rem 2.3rem 2.4rem 2.4rem;

        .group-40083-vdA {
          height: 100%;
          display: flex;
          flex-direction: column;
          width: 100%;

          .group-40080-soJ {
            margin: 0rem 0rem 1.6rem 0.1rem;
            width: 21.8rem;
            flex-shrink: 0;

            .group-32-DMN {
              box-sizing: border-box;
              padding: 0.2rem 0rem 0.1rem 0.225rem;
              width: calc(100% - 7.5rem);
              display: flex;
              align-items: center;
              margin: 0rem 7.5rem 1.6rem 0rem;

              .frame-X7A {
                margin: 0rem 1.025rem 0.1rem 0rem;
                width: 1.95rem;
                height: 1.95rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .day-6-night-eha {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.255;
                color: #5a5a5d;
                font-family: Mulish, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .auto-group-jhat-CDJ {
              width: 100%;
              height: 2.4rem;
              display: flex;
              align-items: center;

              .group-33-M6C {
                flex-shrink: 0;
                margin-right: 2.3rem;
                box-sizing: border-box;
                padding: 0.2rem 0rem 0.1rem 0.15rem;
                height: 100%;
                display: flex;
                align-items: center;

                .frame-saL {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.95rem 0.025rem 0rem;
                  width: 2.1rem;
                  height: 1.875rem;
                  position: relative;
                }
                .max-10-QKN {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.255;
                  color: #5a5a5d;
                  font-family: Mulish, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .group-34-Lyi {
                box-sizing: border-box;
                padding: 0.2rem 0rem 0.1rem 0.375rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .frame-He4 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.175rem 0.025rem 0rem;
                  width: 1.65rem;
                  height: 2.0248rem;
                  object-fit: contain;
                }
                .malaysia-cRS {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.255;
                  color: #5a5a5d;
                  font-family: Mulish, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .group-40081-9gG {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 0rem 1.2rem 0.1rem;

            .tour-to-satorini-6Lc {
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              font-size: 2rem;
              font-weight: 800;
              line-height: 1.255;
              color: #131318;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
            }
            .amet-consectetur-vulputate-commodo-felis-molestie-risus--EBv {
              font-family: Mulish, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 25.5rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.7142857143;
              color: #5a5a5d;
            }
          }
          .price-1300-1500-juN {
            flex-shrink: 0;
            margin: 0rem 0rem 1.5rem 0.1rem;
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.255;
            color: #ff5400;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-8-4Rr {
            width: 13rem;
            height: 4rem;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .group-7-DZe {
              width: 100%;
              height: 100%;
              border-radius: 0.8rem;

              .group-31-bAt {
                width: 100%;
                height: 100%;
                border-radius: 0.8rem;

                .group-40082-ADz {
                  width: 100%;
                  align-items: center;
                  justify-content: center;
                  white-space: nowrap;
                  display: flex;
                  height: 100%;
                  text-align: center;
                  font-size: 1.8rem;
                  color: #ffffff;
                  font-family: Mulish, 'Source Sans Pro';
                  line-height: 1.255;
                  font-weight: 700;
                  background-color: #ff5400;
                  border-radius: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
    .a-simple-perfect-place-to-get-lost-jRW {
      max-width: 24.9rem;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.5;
      color: #131318;
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 8.6rem 1.6rem 0rem;
    }
    .dolor-sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque-RZE {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7142857143;
      color: rgba(19, 19, 24, 0.6999999881);
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 2.4rem 1.6rem 0rem;
      max-width: 31.1rem;
    }
    .group-40088-gk4 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 1.9rem 2.4rem 0rem;
      align-items: center;
      display: flex;

      .adipiscing-ornare-pellentesque-mauris-volutpat-tortor-vitae-platea-porta-lacus-lectus-suspendisse-nullam-d9W {
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        max-width: 31.6rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.7142857143;
        color: #131318;
      }
      .adipiscing-ornare-pellentesque-mauris-volutpat-tortor-vitae-platea-porta-lacus-lectus-suspendisse-nullam-7Ka {
        line-height: 1.7142857143;
        color: #131318;
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 31.6rem;
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
    .group-42-QZa {
      text-align: center;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 16.1rem 2.4rem 0rem;
      width: 17.4rem;
      font-family: Mulish, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      background-color: #ff5400;
      font-weight: 800;
      line-height: 1.255;
      color: #ffffff;
      white-space: nowrap;
      border-radius: 0.8rem;
      height: 5.2rem;
      font-size: 2rem;
    }
    .group-40090-FaC {
      margin-bottom: 2.4rem;
      width: 100%;
      height: 20rem;
      position: relative;
      border-radius: 1.6rem;
      flex-shrink: 0;

      .rectangle-10-zGt {
        position: absolute;
        left: 0;
        top: 0rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.6rem;
        width: 33.5rem;
        height: 20rem;
      }
      .rectangle-11-WFE {
        border-radius: 1.6rem;
        width: 33.5rem;
        height: 20rem;
        position: absolute;
        left: 0rem;
        top: 0;
        background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0) 100%);
      }
      .watch-our-mountain-in-bangladesh-cJG {
        position: absolute;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        font-family: Mulish, 'Source Sans Pro';
        width: 22.3rem;
        height: 6rem;
        left: 5.65rem;
        top: 7rem;
        line-height: 1.5;
        color: #ffffff;
      }
      .group-40092-6jE {
        flex-direction: column;
        width: 30.3333rem;
        height: 3.2rem;
        position: absolute;
        left: 1.6rem;
        top: 15.2rem;
        align-items: center;
        display: flex;

        .auto-group-jahj-Dor {
          margin-bottom: 0.8rem;
          width: 100%;
          height: 2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-40091-AUC {
            margin-right: 16rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-39472-K6C {
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-000-SwW {
              margin-bottom: 0.1rem;
              font-size: 1.4rem;
              line-height: 1.2125;
              color: #f3f3f3;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .group-40063-ZFS {
            box-sizing: border-box;
            padding-right: 0.9375rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-39481-Jip {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.1375rem;
              width: 5.3333rem;
              height: 2rem;
            }
            .frame-F8G {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 0.125rem;
              height: 1.125rem;
            }
          }
        }
        .group-39464-C3W {
          flex-shrink: 0;
          margin-right: 0.0333rem;
          width: calc(100% - 0.0333rem);
          height: 0.4rem;
          border-radius: 0.8rem;

          .group-8-jJL {
            width: 100%;
            height: 100%;
            border-radius: 0.8rem;

            .group-40061-twv {
              width: 100%;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.3000000119);
              border-radius: 0.8rem;

              .group-7-rdr {
                margin-right: 21.6rem;
                width: 8.7rem;
                height: 100%;
                border-radius: 0.8rem;

                .rectangle-5-c7E {
                  border-radius: 0.8rem;
                  width: 100%;
                  height: 0.4rem;
                  background-color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
    .auto-group-4dpy-gMz {
      padding: 2.4rem 2.4rem 2.4rem 2.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 0rem;
      width: calc(100% - 0rem);
      border: solid 0.1rem #ff5400;
      border-radius: 1.6rem;
      box-sizing: border-box;

      .group-40094-Zwa {
        flex-shrink: 0;
        margin: 0rem 2.2rem 1.6rem 0rem;
        display: flex;
        flex-direction: column;

        .newsletter-i3n {
          margin-bottom: 0.7rem;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.255;
          color: #131318;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .get-your-daily-dose-of-travel-news-tips-sign-up-today-SVa {
          max-width: 26.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.7142857143;
          color: #5a5a5d;
          font-family: Mulish, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .line-1-9un {
        height: 0.1rem;
        background-color: rgba(19, 19, 24, 0.1000000015);
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        width: 100%;
      }
      .group-10-gui {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 5.2rem;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .group-5-EgL {
          box-sizing: border-box;
          font-size: 1.6rem;
          color: rgba(19, 19, 24, 0.3000000119);
          white-space: nowrap;
          border-radius: 0.8rem;
          padding: 1.6rem 2rem 1.5rem 2rem;
          width: 100%;
          height: 100%;
          font-weight: 400;
          line-height: 1.255;
          font-family: Mulish, 'Source Sans Pro';
          background-color: rgba(19, 19, 24, 0.0500000007);
        }
      }
      .group-40067-goE {
        margin-bottom: 2rem;
        width: 100%;
        height: 5.2rem;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .group-5-1qW {
          font-weight: 400;
          line-height: 1.255;
          color: rgba(19, 19, 24, 0.3000000119);
          border-radius: 0.8rem;
          box-sizing: border-box;
          padding: 1.6rem 2rem 1.5rem 2rem;
          width: 100%;
          font-size: 1.6rem;
          height: 100%;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          background-color: rgba(19, 19, 24, 0.0500000007);
        }
      }
      .group-42-2Vi {
        width: 100%;
        font-family: Mulish, 'Source Sans Pro';
        justify-content: center;
        align-items: center;
        border-radius: 0.8rem;
        text-align: center;
        font-size: 2rem;
        color: #ffffff;
        white-space: nowrap;
        font-weight: 800;
        line-height: 1.255;
        height: 5.2rem;
        display: flex;
        background-color: #ff5400;
        flex-shrink: 0;
      }
    }
    .auto-group-99wj-rje {
      margin-right: 0rem;
      width: calc(100% - 0rem);
      height: 30.0783rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-8-ntC {
        vertical-align: top;
        border-radius: 1.6rem;
        width: 33.5rem;
        height: 30rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .group-40069-XKz {
        width: 22.8213rem;
        top: 15.4227rem;
        border-radius: 1.0569rem;
        box-sizing: border-box;
        padding: 3.703rem 2.968rem 3.703rem 3.754rem;
        left: 10.0784rem;
        background-color: #ff5400;
        height: 14.6555rem;
        position: absolute;

        .group-40068-2Gk {
          width: 100%;
          height: 3.4367rem;
          position: relative;

          .travelcom-nFv {
            top: 0;
            text-align: center;
            font-weight: 400;
            line-height: 1.255;
            color: #ffffff;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            height: 2rem;
            position: absolute;
            left: 3.2095rem;
            font-size: 1.5854rem;
            width: 7.9rem;
          }
          .save-up-to-70-HCg {
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.1138rem;
            line-height: 1.255;
            position: absolute;
            left: 0;
            top: 0.7367rem;
            font-weight: 800;
            color: #ffffff;
            width: 16.1rem;
            height: 2.7rem;
          }
        }
      }
    }
  }
  .auto-group-zcua-Lwe {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(19, 19, 24, 0.0500000007);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 2rem 3.128rem 2rem;
    width: 100%;

    .group-40071-F32 {
      flex-shrink: 0;
      margin: 0rem 8.853rem 1.553rem 8.6rem;
      width: calc(100% - 17.4534rem);
      display: flex;
      align-items: flex-end;

      .group-40070-mXA {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.995rem 0.047rem 0rem;
        width: 3.3516rem;
        height: 2.8724rem;
        object-fit: contain;
      }
      .hero-travel-trg {
        font-family: Mulish, 'Source Sans Pro';
        display: flex;
        font-size: 2.1543rem;
        font-weight: 800;
        color: #121218;
        flex-shrink: 0;
        line-height: 1.255;
        white-space: nowrap;
        align-items: baseline;

        .hero-travel-trg-sub-0 {
        }
        .hero-travel-trg-sub-1 {
          font-family: Mulish, 'Source Sans Pro';
          font-size: 2.1543rem;
          font-weight: 800;
          line-height: 1.255;
          color: #ff5400;
        }
      }
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-nulla-sit-viverra-morbi-vitae-blandit-orci-potenti-vulputate-leo-erat-maecenas-vitae-elementum-ultricies-nullam-Rk8 {
      max-width: 27.5rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: #5a5a5d;
      margin-bottom: 1.6rem;
      line-height: 1.7142857143;
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .social-gAG {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 8.068rem 2.4rem 8rem;
      width: calc(100% - 16.0678rem);

      .item-1-PaU {
        width: 1.9888rem;
        height: 1.5999rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.16rem 3.2rem 0rem 0rem;
      }
      .item-2-WQC {
        width: 1.1253rem;
        height: 2.1566rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.077rem 3.2rem 0rem 0rem;
      }
      .item-3-ci8 {
        margin-right: 3.2rem;
        width: 2.4114rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-4-xGC {
        flex-shrink: 0;
        margin-bottom: 0.1601rem;
        width: 2.3066rem;
        height: 2.2399rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .line-2-HpG {
      flex-shrink: 0;
      margin-bottom: 2.3rem;
      width: 100%;
      height: 0.1rem;
      background-color: rgba(19, 19, 24, 0.1000000015);
    }
    .all-rights-reserved-EDi {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #131318;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
